@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

body {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
}

:root {
    /* Cores gerais */
    --color-title: #0E8388;
    --color-title-hover: #2E4F4F;
}

.container {
    width: 860px;
    margin: 0 auto
}

header {
    width: 270px;
    float: left;
    position: fixed;
    -webkit-font-smoothing: subpixel-antialiased
}

section {
    width: 500px;
    float: right;
    padding-bottom: 50px
}

section>h1 {
    margin-top: 2rem;
    font-size: 2.1em;
    letter-spacing: 2px;
}

img {
    max-width: 100%;
    border-radius: 50%;
}

hr {
    border: 0;
    background: #e5e5e5;
    height: 1px;
    margin: 0 0 0px
}

.info-person>h1>a,
p>a {
    color: var(--color-title);
    text-decoration: none;
    font-size: 1em;
}

.info-person>h1>a:hover {
    color: var(--color-title-hover);
}

.info-person>p>a:hover {
    color: var(--color-title-hover);
    text-decoration: underline;
}

.data-project {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}

.data-project>h1 {
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: -5px;
}

.data-project>a {
    margin-block: 10px;
}

.data-project>span {
    font-size: .9em;
}

.data-project img {
    margin-top: 10px;
    border-radius: 4px;
}

.btn-normal {
    display: none;
}


.btn-scroll {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--color-title);
    color: #fff;
    border: none;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    transition: all 0.3s ease-in-out;

    animation: btn-scroll ease 0.5s forwards;
}

.btn-scroll:hover {
    background-color: var(--color-title-hover);
    ;
    transform: scale(1.2);
}


@keyframes btn-scroll {
    from {
        bottom: -50px;
        opacity: 0;
    }

    to {
        bottom: 20px;
        opacity: 1;
    }
}

footer {
    margin-top: 4rem;
}

@media print,
screen and (max-width: 960px) {
    .container {
        width: auto;
        margin: 0 auto;
    }

    body {
        word-wrap: break-word;
        padding: 15px;
    }

    header,
    section {
        float: none;
        position: static;
        width: auto;

        border: 1px solid #e5e5e5;
        border-width: 1px 0;
        padding: 20px 0;
        margin: 0 0 20px
    }

    header {
        padding-right: 320px
    }

    header a small {
        display: inline
    }

    img {
        width: 100%;
    }
}

@media print,
screen and (max-width: 720px) {
    body {
        word-wrap: break-word;
        padding: 15px;
    }

    header {
        padding: 0;
    }
}

@media print,
screen and (max-width: 480px) {
    body {
        padding: 15px;
    }
}

@media print {
    body {
        padding: 0.4in;
        font-size: 12pt;
        color: #444;
    }
}